<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
	<connectionStrings>
		<add name="MOMDEVDBSRV" connectionString="Data Source=momdevdbsrv;Initial Catalog=PreactorProd;Integrated Security=sspi"/>
	</connectionStrings>
	<appSettings>
		<add key="tickTimeInSeconds" value="30"/>
	</appSettings>
</configuration>
